<h2>Region list</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let region of regionList" (click)="onRegionSelected(region)">
            <td>{{region.id}}</td>
            <td>{{region.name}}</td>
        </tr>
    </tbody>
</table>
<button type="button" id="btn-new" (click)="newRegion()">New</button>
<app-region-details *ngIf="displayRegionDetails" [region]="editRegion" (saveRegionEvent)="saveRegion($event)" (cancelOperationEvent)="cancelRegionEdit()"></app-region-details>