<h2>Country details</h2>

<form>
    <div class="form-group row">
        <label for="country-id" class="col-sm-2 col-form-label">ID</label>
        <div class="col-sm-10">
            <input type="text" id="country-id" name="country-id" class="form-control" placeholder="Enter country ID" [readonly]="!addFlag" [(ngModel)]="country.id">
        </div>
    </div>

    <div class="form-group row">
        <label for="country-name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" id="country-name"  name="country-name" class="form-control" placeholder="Enter country name"
            [(ngModel)]="country.name">
        </div>
    </div>

    <button type="button" id="btn-cancel" (click)="cancelOperation()">Cancel</button>
    <button type="button" id="btn-save" (click)="saveCountry()">Save</button>
</form>